.main-page-title {
  position: absolute;
  top: 30%;
  width: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 72px;
  line-height: 100px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.title-mainpage {
  margin-top: 40px;
  text-align: center;
  font-size: 1.8em;
}

.description-mainpage {
  max-width: 640px;
  margin: 40px auto 60px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}

.description-mainpage span {
  display: block;
}

.developers-container {
  padding: 2% 4% 5%;
  background-color: #f5f5f5;
}

.developers-container h3 {
  text-align: center;
}

.developers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* max-width: 1500px; */
}

@media (max-width: 720px) {
  .title-mainpage {
    margin-top: 30px;
    font-size: 32px;
  }

  .description-mainpage {
    font-size: 18px;
  }

  .description-mainpage span {
    display: inline;
  }

  .main-page-title {
    top: 14%;
    width: 65%;
    font-size: 35px;
    line-height: 45px;
  }
  .main-page-title span {
    text-align: center;
  }
}
