.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px 10px;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 200px;
}

.logo img {
  width: 90px;
}

.header-title-container {
  text-align: center;
  margin-left: 50px;
}

.header-title {
  margin: 0;  
  color: #e86971;
  font-size: 2.8em;
  line-height: 60px;
  font-weight: 700;
}

.header-subtitle {
  padding: 0;
  margin: 0;
}

.header-links ul {
  display: flex;
  margin: 0;
}

.header-links ul li {
  list-style: none;
  min-width: 200px;
  text-align: right;
}

.header-link {
  color: #000;
  font-size: 24px;
  line-height: 80px;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 800px){
  .logo {
    width: 140px;
  }

  .logo img {
    width: 75px;
  }
  
  .header-links ul li {   
    min-width: 140px;
  }
  
  .header-link {
    font-size: 20px;
  }
  
  .header-title {  
    font-size: 2em;
    line-height: 44px;
  }
}

@media (max-width: 640px){
  .header-subtitle {
    display: none;
  }
}

@media (max-width: 540px){
  .header-title {
    display: none;
  }
}