@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";
.image-gallery {
  max-width: 1200px;
  margin: 60px auto;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border .3s ease-out;
  width: 191px; }

.image-gallery-thumbnail.active {
  border: 4px solid #e86971;
}