.avatar-container {
    margin: 60px auto 40px;
    width: 400px;
    height: 400px;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 480px){
  .avatar-container {
    margin: 40px auto 10px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 380px){
  .avatar-container {
    margin: 40px auto 10px;
    width: 260px;
    height: 260px;
  }
}