.developer-container {
  margin: 10px 0;
}

.developer-container img {
  height: 156px;
  width: 156px;
  border-radius: 10px;
}

.developer-container p {
  text-align: center;
}

/* .developer-container a {
  text-align: center;
  width: 100%;
} */