.developer-container {
  margin: 10px 0;
  text-align: center;
}

.developer-container img {
  height: 156px;
  width: 156px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}

.developer-container p {
  margin: 5px;
}

.developer-container a {
  color: black;
}

.developer-container a:hover {
  transition: .2s;
  color: red;
}